<%= link_to my_cart_path do %>
  My Cart
  <% if current_cart.cart_items.length > 0 %>
    <span class="new badge blue" data-badge-caption="item"><%= current_cart.cart_items.length %></span>
  <% end %>
<% end %>

