<% if @reviews.blank? %>
  <span id="no_review" class="center">No Reviews</span>
<% else %>
  <% @reviews.each do |review| %>
    <%= render partial: "reviews/review", locals: {review: review, course: @course } %>
  <% end %>
<% end %>